.CommonCard {
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    border: none;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0/ 20%);
  }
  .CommonCards {
    text-align: center;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    border: none;
    max-height: 100%;
    
  }
  .Layouts {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(5, 20%);
    grid-template-areas:
      "courses deadliness friends"
      "course_detail course_detail message"
      "course_detail course_detail video"
      "study_history study_history study_session"
      "study_history study_history encouraging"
      ;
      
    column-gap: 5px;
    row-gap: 5px;
    height: 100vh;
  }
  @media (max-width: 768px) {
    .Layouts {
      display: flex;
      flex-direction: column;
      margin: 0 25px;
    }
  }
  .Courses{
    margin-top: 5px;
    margin-left: 5px;
    grid-area: courses;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    height: 98%;
    border-radius: 5px;
    position: relative;
    border: none;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0/ 20%);
      
  }
  @media (max-width: 768px) {
    .Courses {
      margin-right: 5px;
    }
  }
  .CoursesCard {
    text-align: center;
    
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 5px 5px;
    padding: 5px 0;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    border: none;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0/ 20%);
    
  }
  .Deadlines{
      grid-area: deadliness;
      
  }
  .Friends{
      grid-area: friends;
  }
  .CourseDetail{
      grid-area: course_detail;
  }
  .Messages{
      grid-area: message;
  }
  .Videos{
      grid-area: video;
  }
  .StudySession{
      grid-area: study_session;
  }
  .StudyHistory{
      grid-area: study_history;
  }
  .Encouraging{
      grid-area: encouraging;
  }
  @media (max-width: 768px) {
    .Layouts {
      display: flex;
      flex-direction: column;
      margin: 0 25px;
    }
  }
  
  
  
  
  

  
  
  .Button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: block;
    justify-content: flex-end;
    width: 30px;
    opacity: 50%;
  }
  .Buttons {
    border-radius: 25px;
  }
  .Button:hover {
    opacity: 100%;
  }
  .Button img {
    display: flex;
    height: 24px;
    justify-content: center;
    align-items: center;
  }
  