.Commoncard {
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  border: none;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0/ 20%);
}
.Layouts {
  display: grid;

  grid-template-columns: minmax(0, 50%) minmax(0, 50%);
  grid-template-rows: minmax(0, 50%) minmax(0, 50%);
  grid-template-areas:
    "leftside right"
    "bottom bottom";
  column-gap: 0px;
  height: 100%;
}
@media (max-width: 768px) {
  .Layouts {
    display: flex;
    flex-direction: column;
    margin: 0 25px;
    max-height: 300px;
  }
}





.Deadline{
  
  grid-area: leftside;
  
}
.Status {
    grid-area: right;
}
@media (max-width: 768px) {
  .Status {
    margin-top: 15px;
  }
}
.History{
  margin-top: 7px;
    grid-area: bottom
}
.main {
  display: flex;
}



.Button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: block;
  justify-content: flex-end;
  width: 30px;
  opacity: 50%;
}
.Buttons {
  border-radius: 25px;
}
.Button:hover {
  opacity: 100%;
}
.Button img {
  display: flex;
  height: 24px;
  justify-content: center;
  align-items: center;
}
