.Commoncard{
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    border: none;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 15%), 0 0 0 rgb( 0 0 0/ 20%);
}
.Layout{
    display: grid;
    grid-template-areas: "leftside main";
    grid-template-columns: minmax(0, 4fr) minmax(0, 25fr);
    column-gap: 0px;
    row-gap: 25px;
    grid-template-rows: auto;
    height: 100vh;
    
    
}
@media(max-width:768px) {
    .Layout{
        
        
        flex-direction: column;
        
    }
}

.MenuTab{
    border-top: solid rgba(0,0,0,0.4);
    grid-area: leftside;
    min-height: 100%;
    background-color: rgba(23, 25, 126,0.9);
}

@media(max-width:768px) {
    .MenuTab{
        
        
        
        
        
    }
}

.MainArea{
    grid-area: main;
}
.main{
    display: flex;

}

.itema{
    grid-area:  Deadlines;
}

.itemb{
    grid-area: Status;
}

.itemc{
    grid-area:Study;
}
.MainContent{
   
        display: grid;
        
        grid-template-columns: minmax(0, 15fr) minmax(0, 15fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "Deadlines Status "
        "Study Study";
        
        height: 100vh;
        
        
        
    
}















.Button{
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: block;
    justify-content: flex-end;
    width: 30px;
    opacity: 50%;
    
}
.Buttons{
    border-radius: 25px;
}
.Button:hover{
    opacity: 100%;
}
.Button img{
    display: flex;
    height: 24px;
    justify-content: center;
    align-items: center;
}