.Commoncard{
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    border: none;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 15%), 0 0 0 rgb( 0 0 0/ 20%);
}

.itema{
    grid-area:  Deadlines;
}
