.Layout{
    display: grid;
    
    grid-template-columns: minmax(0, 4fr) minmax(0, 25fr);
    grid-template-rows: minmax(35px,45px) minmax(0, 25fr);
    grid-template-areas: 
    "main main"
    "body body";
    column-gap: 0px;
    row-gap: 0px;

    
    height: 100vh;
    
    
}
@media(max-width:768px) {
    .Layout{
        grid-template-rows: minmax(35px,45px) minmax(0, 25fr);
    }
}
.Body{
    grid-area: body;
}
.MenuBar{
    
    grid-area: main;
    min-height: 100%;
    
}

@media(max-width:768px) {
    .MenuBar{
    }
}
.NavBar{
    background-color: rgba(255, 255, 255, 0.8);
    height: 45px;
    display: flex;
    
}

.NavTab{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

@media (max-width:768px) {
    .NavTab{
        padding-left: 3px;
        font-size: 12px;
        font-weight: bold;
    }
}
.NavMenue{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
@media (max-width:768px) {
    .NavMenue{
        margin-left: 7px;
    }
}
.NavMenue button{
    padding: 0 0;
    display: flex;
    min-width: 50px;
    margin: 0 0;
}
@media (max-width:768px){
    .NavMenue button:first-child{
       
        min-width: 35px;
    }
}

@media (max-width:768px){
    .NavMenue button{
       
        min-width: 40px;
    }
}
.NavMenue a{
    text-decoration: none ;
    font-size: 14px;
    align-items: center;
    display: flex;
    padding: 5px 10px;
    margin: 5px 0px;
    color: rgba(0, 0, 0, 0.2);
    justify-content: center;
}
@media (max-width:768px) {
    .NavMenue a{
        margin: 5px 0px;
        padding: 0 1px;
        font-size: 10px;
    }
}

.NavMenue button:hover .links {
    text-decoration: none;
    background-color: rgba(228,228,228,0.08);
    color: rgba(0, 0, 0, 0.8);
    transform: translate3d(0,-2px,0);
    border-radius: 5px;
    
  
  }

  .User{
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    justify-content: flex-end;
    
}
.Users{
    display: block;
   
    
}
.User img{
    border-radius: 50%;
    height: 25px;
}

@media (max-width:768px) {
    .User{
        padding-left: 0px;
        padding-right: 5px;
    }
}

@media (max-width:768px) {
    .User img{
        height: 25px;
    }
}

.ContentInfo{
    grid-area: body;
    
}

.Signout{
position: fixed;
  top: 45px;
  right: 55px;
  display: block;
  justify-content: flex-end;
  width: 30px;
  opacity: 0%;
  z-index: 1;
}
.User:hover .Signout{
    opacity: 100%;
    
}

