.NavBar{
    background-color: rgba(23, 25, 126,0.9);
    height: 50px;
    display: flex;
    
}

.NavTab{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

@media (max-width:768px) {
    .NavTab{
        padding-left: 3px;
        font-size: 12px;
        font-weight: bold;
    }
}
.NavMenue{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-left: 10px;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
@media (max-width:768px) {
    .NavMenue{
        padding-left: 5px;
    }
}
.NavMenue a{
    text-decoration: none ;
    font-size: 15px;
    align-items: center;
    display: flex;
    padding: 0 10px;
    margin: 5px 10px;
    color: rgba(255, 255, 255, 0.2);
    justify-content: center;
}
@media (max-width:768px) {
    .NavMenue a{
        margin: 5px 3px;
        padding: 0 1px;
        font-size: 12px;
    }
}

.NavMenue a:hover {
    text-decoration: none;
    background-color: rgba(228,228,228,0.08);
    color: rgba(228, 228, 228, 0.8);
    transform: translate3d(0,-2px,0);
    border-radius: 5px;
  
  }

.User{
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    
}
.User img{
    border-radius: 50%;
    height: 35px;
}

@media (max-width:768px) {
    .User{
        padding-left: 0px;
        padding-right: 5px;
    }
}

@media (max-width:768px) {
    .User img{
        height: 25px;
    }
}