.Layout{
    display: grid;
    
    grid-template-columns: minmax(0, 4fr) minmax(0, 25fr);
    grid-template-rows: minmax(35px,45px) minmax(0, 25fr);
    grid-template-areas: 
    "main main"
    "body body";
    column-gap: 0px;
    row-gap: 0px;

    
    height: 100vh;
    
    
}
@media(max-width:768px) {
    .Layout{
        grid-template-rows: minmax(35px,45px) minmax(0, 25fr);
    }
}
.Body{
    grid-area: body;
}
.MenuBar{
    
    grid-area: main;
    min-height: 100%;
    
}

@media(max-width:768px) {
    .MenuBar{
    }
}
.NavBar{
    background-color: rgba(23, 25, 126,0.9);
    height: 45px;
    display: flex;
    
}

.NavTab{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

@media (max-width:768px) {
    .NavTab{
        padding-left: 3px;
        font-size: 12px;
        font-weight: bold;
    }
}
.NavMenue{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-left: 10px;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
@media (max-width:768px) {
    .NavMenue{
        padding-left: 5px;
    }
}
.NavMenue a{
    text-decoration: none ;
    font-size: 15px;
    align-items: center;
    display: flex;
    padding: 0 10px;
    margin: 5px 10px;
    color: rgba(255, 255, 255, 0.2);
    justify-content: center;
}
@media (max-width:768px) {
    .NavMenue a{
        margin: 5px 3px;
        padding: 0 1px;
        font-size: 12px;
    }
}

.NavMenue a:hover {
    text-decoration: none;
    background-color: rgba(228,228,228,0.08);
    color: rgba(228, 228, 228, 0.8);
    transform: translate3d(0,-2px,0);
    border-radius: 5px;
  
  }

.User{
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    
}
.Users{
    display: block;
   
    
}
.User img{
    border-radius: 50%;
    height: 25px;
}

@media (max-width:768px) {
    .User{
        padding-left: 0px;
        padding-right: 5px;
    }
}

@media (max-width:768px) {
    .User img{
        height: 25px;
    }
}
.Body{
    grid-area: body;
}
