.Layout{
    margin-top: -5px;
}
.NavButton{
    position: absolute;
    top: 10px;
    left: 10px
}
@media(max-width:768px) {
    .NavButton{
        left: 5px;
        
    }
}
.NavButton img{
    width: 20px;
    cursor: pointer;
    
}
.NavButton img:hover{
    padding: 2px 2px;
    background-color: rgba(228,228,228,0.08);
    color: rgba(228, 228, 228, 0.8);
    transform: translate3d(0,-2px,0);
    border-radius: 5px;
  
}
